@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
td.fc-day
{
    background: #FFF !important;
    font-family: 'Roboto', sans-serif;
}
td.fc-today
{
    background: #FFF !important;
    position: relative;
}
.fc-first th
{
    background: #9675ce !important;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.fc-event-inner
{
    background: #03a9f3!important;
    color: #FFF!important;
    font-family: 'Roboto', sans-serif;
    font-size: 12px!important;
    font-weight: 500!important;
    padding: 5px 0px!important;
}
.fc
{
    direction: ltr;
    text-align: left;
}
.fc table
{
    border-collapse: collapse;
    border-spacing: 0;
}
html .fc,
 .fc table
{
    font-family: "Helvetica Neue", Helvetica;
    font-size: 1em;
}
.fc td,
 .fc th
{
    padding: 0;
    vertical-align: top;
}
.fc-header td
{
    padding: 15px 10px 0px;
    white-space: nowrap;
}
.fc-header-left
{
    text-align: left;
    width: 25%;
}
.fc-header-center
{
    text-align: center;
}
.fc-header-right
{
    text-align: right;
    width: 25%;
}
.fc-header-title
{
    display: inline-block;
    margin-top: -5px;
    vertical-align: top;
}
.fc-header-title h2
{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: 0;
    white-space: nowrap;
}
span.fc-button
{
    border-color: #9675ce;
    color: #9675ce;
    font-family: 'Roboto', sans-serif;
}
.fc-state-down,
 .fc-state-active
{
    background-color: #9675ce !important;
    color: #FFF !important;
}
.fc .fc-header-space
{
    padding-left: 10px;
}
.fc-header .fc-button
{
    margin-bottom: 1em;
    vertical-align: top;
}
.fc-header .fc-button
{
    margin-right: -1px;
}
.fc-header .fc-corner-right,
 .fc-header .ui-corner-right
{
    margin-right: 0;
}
.fc-header .fc-state-hover,
 .fc-header .ui-state-hover
{
    z-index: 2;
}
.fc-header .fc-state-down
{
    z-index: 3;
}
.fc-header .fc-state-active,
 .fc-header .ui-state-active
{
    z-index: 4;
}
.fc-content
{
    clear: both;
    zoom: 1;
}
.fc-view
{
    overflow: hidden;
    width: 100%;
}
.fc-widget-content
{
    border: 1px solid #e5e5e5;
}
.fc-widget-header
{
    border-bottom: 1px solid #EEE;
}
.fc-state-highlight
{
}
.fc-state-highlight>div>div.fc-day-number
{
    background-color: #ff3b30;
    border-radius: 50%;
    color: #FFFFFF;
    margin: 4px;
}
.fc-cell-overlay
{
    background: #bce8f1;
    filter: alpha(opacity=30);
    opacity: .3;
}
.fc-button
{
    cursor: pointer;
    display: inline-block;
    height: 1.9em;
    line-height: 1.9em;
    overflow: hidden;
    padding: 0 .6em;
    position: relative;
    white-space: nowrap;
}
.fc-state-default
{
    border: 1px solid;
}
.fc-state-default.fc-corner-left
{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.fc-state-default.fc-corner-right
{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.fc-text-arrow
{
    font-size: 2em;
    line-height: 23px;
    margin: 0 .4em;
    vertical-align: baseline;
}
.fc-button-prev .fc-text-arrow,
 .fc-button-next .fc-text-arrow
{
    font-weight: bold;
}
.fc-button .fc-icon-wrap
{
    float: left;
    position: relative;
    top: 50%;
}
.fc-button .ui-icon
{
    float: left;
    margin-top: 0;
    margin-top: -50%;
    position: relative;
    top: -50%;
}
.fc-state-default
{
    border-color: #ff3b30;
    color: #ff3b30;
}
.fc-button-month.fc-state-default,
 .fc-button-agendaWeek.fc-state-default,
 .fc-button-agendaDay.fc-state-default
{
    min-width: 67px;
    text-align: center;
    transition: all 0.2s;
    webkit-transition: all 0.2s;
}
.fc-state-hover,
 .fc-state-down,
 .fc-state-active,
 .fc-state-disabled
{
    background-color: #FFE3E3;
    color: #333333;
}
.fc-state-hover
{
    background-position: 0 -15px;
    color: #ff3b30;
    moz-transition: background-position 0.1s linear;
    o-transition: background-position 0.1s linear;
    text-decoration: none;
    transition: background-position 0.1s linear;
    webkit-transition: background-position 0.1s linear;
}
.fc-state-down,
 .fc-state-active
{
    background-color: #ff3b30;
    background-image: none;
    color: #FFFFFF;
    outline: 0;
}
.fc-state-disabled
{
    background-color: #FFE3E3;
    background-image: none;
    border: 1px solid #FFE3E3;
    box-shadow: none;
    color: #ff3b30;
    cursor: default;
    filter: alpha(opacity=65);
}
.fc-event-container>*
{
    z-index: 8;
}
.fc-event-container>.ui-draggable-dragging,
 .fc-event-container>.ui-resizable-resizing
{
    z-index: 9;
}
.fc-event
{
    background-color: #FFF;
    border: 1px solid #FFF;
    color: #919191;
    cursor: default;
    font-size: 12px;
}
.fc-event.chill
{
    background-color: #f3dcf8;
}
.fc-event.planning .fc-event-inner
{
    background-color: #6c757d !important;
}
.fc-event.doing .fc-event-inner
{
    background-color: #28a745 !important;
}
.fc-event.complete .fc-event-inner
{
    background-color: #0098dc !important;
}
.fc-event:hover
{
    opacity: 0.7;
}
a.fc-event
{
    text-decoration: none;
}
a.fc-event,
 .fc-event-draggable
{
    cursor: pointer;
}
.fc-rtl .fc-event
{
    text-align: right;
}
.fc-event-inner
{
    height: 100%;
    line-height: 15px;
    overflow: hidden;
    width: 100%;
}
.fc-event-time,
 .fc-event-title
{
    padding: 0 1px;
}
.fc .ui-resizable-handle
{
    display: block;
    font-size: 300%;
    line-height: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 99999;
}
.fc-event-hori
{
    border-width: 1px 0;
    margin-bottom: 1px;
}
.fc-ltr .fc-event-hori.fc-event-start,
 .fc-rtl .fc-event-hori.fc-event-end
{
    border-left-width: 1px;
}
.fc-ltr .fc-event-hori.fc-event-end,
 .fc-rtl .fc-event-hori.fc-event-start
{
    border-right-width: 1px;
}
.fc-event-hori .ui-resizable-e
{
    cursor: e-resize;
    height: 100% !important;
    right: -3px !important;
    top: 0 !important;
    width: 7px !important;
}
.fc-event-hori .ui-resizable-w
{
    cursor: w-resize;
    height: 100% !important;
    left: -3px !important;
    top: 0 !important;
    width: 7px !important;
}
.fc-event-hori .ui-resizable-handle
{
    _padding-bottom: 14px;
}
table.fc-border-separate
{
    border-collapse: separate;
}
.fc-border-separate th,
 .fc-border-separate td
{
    border-width: 1px 0 0 1px;
}
.fc-border-separate th.fc-last,
 .fc-border-separate td.fc-last
{
    border-right-width: 1px;
}
.fc-border-separate tr.fc-last td
{
}
.fc-border-separate .fc-week .fc-first
{
    border-left: 0;
}
.fc-border-separate .fc-week .fc-last
{
    border-right: 0;
}
.fc-border-separate tr.fc-last th
{
    border-bottom-width: 1px;
    border-color: #cdcdcd;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}
.fc-border-separate tbody tr.fc-first td,
 .fc-border-separate tbody tr.fc-first th
{
    border-top-width: 0;
}
.fc-grid th
{
    text-align: center;
}
.fc .fc-week-number
{
    text-align: center;
    width: 22px;
}
.fc .fc-week-number div
{
    padding: 0 2px;
}
.fc-grid .fc-day-number
{
    float: right;
    padding: 0 2px;
}
.fc-grid .fc-other-month .fc-day-number
{
    filter: alpha(opacity=30);
    opacity: 0.3;
}
.fc-grid .fc-day-content
{
    clear: both;
    padding: 2px 2px 1px;
}
.fc-grid .fc-event-time
{
    font-weight: bold;
}
.fc-rtl .fc-grid .fc-day-number
{
    float: left;
}
.fc-rtl .fc-grid .fc-event-time
{
    float: right;
}
.fc-agenda table
{
    border-collapse: separate;
}
.fc-agenda-days th
{
    text-align: center;
}
.fc-agenda .fc-agenda-axis
{
    font-weight: normal;
    padding: 0 4px;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
    width: 50px;
}
.fc-agenda .fc-week-number
{
    font-weight: bold;
}
.fc-agenda .fc-day-content
{
    padding: 2px 2px 1px;
}
.fc-agenda-days .fc-agenda-axis
{
    border-right-width: 1px;
}
.fc-agenda-days .fc-col0
{
    border-left-width: 0;
}
.fc-agenda-allday th
{
    border-width: 0 1px;
}
.fc-agenda-allday .fc-day-content
{
    _height: 34px;
    min-height: 34px;
}
.fc-agenda-divider-inner
{
    height: 2px;
    overflow: hidden;
}
.fc-widget-header .fc-agenda-divider-inner
{
    background: #eee;
}
.fc-agenda-slots th
{
    border-width: 1px 1px 0;
}
.fc-agenda-slots td
{
    background: none;
    border-width: 1px 0 0;
}
.fc-agenda-slots td div
{
    height: 20px;
}
.fc-agenda-slots tr.fc-slot0 th,
 .fc-agenda-slots tr.fc-slot0 td
{
    border-top-width: 0;
}
.fc-agenda-slots tr.fc-minor th.ui-widget-header
{
    border-top-style: solid;
}
.fc-event-vert
{
    border-width: 0 1px;
}
.fc-event-vert.fc-event-start
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-width: 1px;
}
.fc-event-vert.fc-event-end
{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-width: 1px;
}
.fc-event-vert .fc-event-time
{
    font-size: 10px;
    white-space: nowrap;
}
.fc-event-vert .fc-event-inner
{
    position: relative;
    z-index: 2;
}
.fc-event-vert .fc-event-bg
{
    background: #fff;
    filter: alpha(opacity=25);
    height: 100%;
    left: 0;
    opacity: .25;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.fc .ui-draggable-dragging .fc-event-bg,
 .fc-select-helper .fc-event-bg
{
    display: none\9;
}
.fc-event-vert .ui-resizable-s
{
    bottom: 0 !important;
    cursor: s-resize;
    font-family: monospace;
    font-size: 11px !important;
    height: 8px !important;
    line-height: 8px !important;
    overflow: hidden !important;
    text-align: center;
    width: 100% !important;
}
.fc-agenda .ui-resizable-resizing
{
    _overflow: hidden;
}
thead tr.fc-first
{
    background-color: #f7f7f7;
}
table.fc-header
{
    background-color: #FFFFFF;
    border-radius: 6px 6px 0 0;
}
.fc-week .fc-day>div .fc-day-number
{
    font-size: 15px;
    height: 30px;
    margin: 2px;
    min-width: 19px;
    padding: 6px;
    text-align: center;
    width: 30px;
}
.fc-sun,
 .fc-sat
{
    color: #b8b8b8;
}
.fc-week .fc-day:hover .fc-day-number
{
    background-color: #B8B8B8;
    border-radius: 50%;
    color: #FFFFFF;
    transition: background-color 0.2s;
}
.fc-week .fc-day.fc-state-highlight:hover .fc-day-number
{
    background-color: #ff3b30;
}
.fc-button-today
{
    border: 1px solid rgba(255, 255, 255, .0);
}
.fc-view-agendaDay thead tr.fc-first .fc-widget-header
{
    padding-right: 10px;
    text-align: right;
}
.fc-event
{
    background: #fff !important;
    color: #000 !important;
}
.fc-event-bg
{
    display: none !important;
}
.fc-event .ui-resizable-handle
{
    display: none !important;
}
body
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
#wrap
{
    margin: 0 auto 80px auto;
    width: 1100px;
}
#external-events
{
    float: left;
    padding: 0 10px;
    text-align: left;
    width: 150px;
}
#external-events h4
{
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}
.external-event
{
    background: #3366CC;
    color: #fff;
    cursor: pointer;
    font-size: .85em;
    margin: 10px 0;
    padding: 2px 4px;
}
#external-events p
{
    color: #666;
    font-size: 11px;
    margin: 1.5em 0;
}
#external-events p input
{
    margin: 0;
    vertical-align: middle;
}
#calendar
{
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 2px #C3C3C3;
    box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    margin: 0 auto;
    moz-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    webkit-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    width: 900px;
}